* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {}

.wrapper {
    // background-color: red;
    height: 100vh;
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr auto auto;
}

.question {
    // background-color: green;
    position: relative;
    display: grid;
    place-items: center;
    padding: 1em;
    h1 {
        font-size: calc(10vh + 6px);
    }
}

.answers {
    // background-color: blue;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    button {
        height: 100px;
    }
}

.bottom-menu {
    // background-color: yellow;
    padding: 1em;
}

button {
    display: block;
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
    font-size: 20px;
    background-color: rgba($color: #000000, $alpha: 0.1);
    border: none;
    border-radius: 10px;
    transition: background-color,opacity 0.3s ease-in-out;
}

button.correct {
    background-color: rgba($color: #86cd1b, $alpha: 0.3);
    animation: 0.3s ease-in-out;
    animation-name: btn-correct;
}
@keyframes btn-correct {
    0%   { transform: scale(1);}
    50%  { transform: scale(1.02);}
    100% { transform: scale(1);}
}
button.wrong {
    background-color: rgba($color: #fa4659, $alpha: 0.2);
    animation: 0.3s ease-in-out;
    animation-name: btn-wrong;
}
@keyframes btn-wrong {
    0%   { transform: translateX(0);}
    33%  { transform: translateX(-5px);}
    66%  { transform: translateX(5px);}
    100% { transform: translateX(0);}
}
button.disabled {
    opacity: 0.2;
    cursor: default;
}

button.close {
    display: grid;
    place-items: center;
    position: absolute;
    left: 1em;
    top: 1em;
    width: 7vh;
    height: 7vh;
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 9999px;
    font-size: 20px;
}