* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  max-width: 700px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto auto;
      grid-template-rows: 1fr auto auto;
}

.question {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 1em;
}

.question h1 {
  font-size: calc(10vh + 6px);
}

.answers {
  padding: 0 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.answers button {
  height: 100px;
}

.bottom-menu {
  padding: 1em;
}

button {
  display: block;
  width: 100%;
  padding: 0.5em;
  cursor: pointer;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  -webkit-transition: background-color,opacity 0.3s ease-in-out;
  transition: background-color,opacity 0.3s ease-in-out;
}

button.correct {
  background-color: rgba(134, 205, 27, 0.3);
  -webkit-animation: 0.3s ease-in-out;
          animation: 0.3s ease-in-out;
  -webkit-animation-name: btn-correct;
          animation-name: btn-correct;
}

@-webkit-keyframes btn-correct {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes btn-correct {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

button.wrong {
  background-color: rgba(250, 70, 89, 0.2);
  -webkit-animation: 0.3s ease-in-out;
          animation: 0.3s ease-in-out;
  -webkit-animation-name: btn-wrong;
          animation-name: btn-wrong;
}

@-webkit-keyframes btn-wrong {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  66% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes btn-wrong {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  66% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

button.disabled {
  opacity: 0.2;
  cursor: default;
}

button.close {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  left: 1em;
  top: 1em;
  width: 7vh;
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  font-size: 20px;
}
/*# sourceMappingURL=main.css.map */